/* sm */

.radio-sm.radio-wrapper {
  height: 24px;
  margin: 0 8px 0 0;
  line-height: 24px;
  font-size: 12px;
}

.radio-sm .radio-inner {
  width: 12px;
  height: 12px;
}

.radio-sm .radio-inner::after {
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
}

.radio-sm .radio + * {
  padding: 0 4px;
}

/* lg */

.radio-lg.radio-wrapper {
  height: 36px;
  margin: 0 16px 0 0;
  line-height: 36px;
  font-size: 16px;
}

.radio-lg .radio-inner {
  width: 18px;
  height: 18px;
}

.radio-lg .radio-inner::after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.radio-lg .radio + * {
  padding: 0 8px;
}

@media (max-width: 1199.98px) {
  /* ms */
  .radio-md-sm.radio-wrapper {
    height: 24px;
    margin: 0 8px 0 0;
    line-height: 24px;
    font-size: 12px;
  }
  
  .radio-md-sm .radio-inner {
    width: 12px;
    height: 12px;
  }
  
  .radio-md-sm .radio-inner::after {
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  
  .radio-md-sm .radio + * {
    padding: 0 4px;
  }
  /* md */
  .radio-md-md.radio-wrapper {
    height: 30px;
    margin: 0 12px 0 0;
    line-height: 30px;
    font-size: 14px;
  }
  
  .radio-md-md .radio-inner {
    width: 16px;
    height: 16px;
  }
  
  .radio-md-md .radio-inner::after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  
  .radio-md-md .radio + * {
    padding: 0 6px;
  }
  /* lg */
  .radio-md-lg.radio-wrapper {
    height: 36px;
    margin: 0 16px 0 0;
    line-height: 36px;
    font-size: 16px;
  }
  
  .radio-md-lg .radio-inner {
    width: 18px;
    height: 18px;
  }
  
  .radio-md-lg .radio-inner::after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }
  
  .radio-md-lg .radio + * {
    padding: 0 8px;
  }
}

@media (max-width: 991.98px) {
  /* ms */
  .radio-sm-sm.radio-wrapper {
    height: 24px;
    margin: 0 8px 0 0;
    line-height: 24px;
    font-size: 12px;
  }
  
  .radio-sm-sm .radio-inner {
    width: 12px;
    height: 12px;
  }
  
  .radio-sm-sm .radio-inner::after {
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
  
  .radio-sm-sm .radio + * {
    padding: 0 4px;
  }
  /* md */
  .radio-sm-md.radio-wrapper {
    height: 30px;
    margin: 0 12px 0 0;
    line-height: 30px;
    font-size: 14px;
  }
  
  .radio-sm-md .radio-inner {
    width: 16px;
    height: 16px;
  }
  
  .radio-sm-md .radio-inner::after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
  
  .radio-sm-md .radio + * {
    padding: 0 6px;
  }
  /* lg */
  .radio-sm-lg.radio-wrapper {
    height: 36px;
    margin: 0 16px 0 0;
    line-height: 36px;
    font-size: 16px;
  }
  
  .radio-sm-lg .radio-inner {
    width: 18px;
    height: 18px;
  }
  
  .radio-sm-lg .radio-inner::after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }
  
  .radio-sm-lg .radio + * {
    padding: 0 8px;
  }
}